import(emayili)
import(logger)
import(mongolite)
import(plumber)
import(VariantAnnotation)

importFrom("base64enc",dataURI)

importFrom("bcrypt",checkpw)
importFrom("bcrypt",hashpw)

importFrom("callr",r_bg)

importFrom("glue",glue)

importFrom("httr",add_headers)
importFrom("httr",content)
importFrom("httr",POST)
importFrom("httr",status_code)

importFrom("jsonlite",fromJSON)
importFrom("jsonlite",toJSON)

importFrom("jose",jwt_claim)
importFrom("jose",jwt_decode_hmac)
importFrom("jose",jwt_encode_hmac)

importFrom("magrittr","%>%")

importFrom("promises",future_promise)
importFrom("promises",then)

importFrom("R.utils",withTimeout)

importFrom("wand",get_content_type)
